*.[oa]
*.swp
*.gmo
configure
Makefile
Makefile.in
.buildconfig


src/.deps/
src/gydict
src/gy-resources.c
src/gy-resources.h
src/config.h.in
src/tags

config.log
config.status
data/gydict.desktop
data/gydict.desktop.in
data/org.gtk.gydict.gschema.valid
libtool
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/config.h
src/stamp-h1
src/.libs

autom4te.cache/
build-aux/
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/config.h.in~

m4/
aclocal.m4
po/Makefile.in.in
po/Makefile.in.in~

po/de.po~
po/en_GB.po~
po/gydict.pot
po/pl.po~
po/stamp-po
ABOUT-NLS~
po/Rules-quot~
po/boldquot.sed~
po/en@boldquot.header~
po/en@quot.header~
po/insert-header.sin~
po/quot.sed~
po/remove-potcdate.sed
po/remove-potcdate.sin~

contrib/pnl/.deps/
contrib/pnl/.libs/
contrib/pnl/libpanel-gtk.la
contrib/pnl/libpanel_gtk_la-pnl-animation.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-bin-edge.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-bin.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-item.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-manager.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-overlay-edge.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-overlay.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-paned.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-revealer.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-stack.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-tab-strip.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-transient-grab.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-widget.lo
contrib/pnl/libpanel_gtk_la-pnl-dock-window.lo
contrib/pnl/libpanel_gtk_la-pnl-dock.lo
contrib/pnl/libpanel_gtk_la-pnl-frame-source.lo
contrib/pnl/libpanel_gtk_la-pnl-multi-paned.lo
contrib/pnl/libpanel_gtk_la-pnl-resources.lo
contrib/pnl/libpanel_gtk_la-pnl-tab-strip.lo
contrib/pnl/libpanel_gtk_la-pnl-tab.lo
contrib/pnl/libpanel_gtk_la-pnl-util.lo
contrib/pnl/pnl-resources.c
contrib/pnl/pnl-resources.h
contrib/pnl/pnl-version.h
contrib/pnl/stamp-resources
contrib/pnl/tags
tests/.deps/
tests/tags

tests/test-hello
tests/test-panel-gtk
