*.[oa]
*.swp
*.gmo
configure
Makefile
Makefile.in
.buildconfig

src/.deps/
src/gydict
src/gy-resources.c
src/gy-resources.h
src/config.h.in
src/tags

config.log
config.status
data/gydict.desktop
data/gydict.desktop.in
data/org.gtk.gydict.gschema.valid
libtool
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/config.h
src/stamp-h1
src/.libs

autom4te.cache/
build-aux/
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
src/config.h.in~

m4/
aclocal.m4
po/Makefile.in.in
po/Makefile.in.in~

po/de.po~
po/en_GB.po~
po/gydict.pot
po/pl.po~
po/stamp-po
ABOUT-NLS~
po/Rules-quot~
po/boldquot.sed~
po/en@boldquot.header~
po/en@quot.header~
po/insert-header.sin~
po/quot.sed~
po/remove-potcdate.sed
po/remove-potcdate.sin~

tests/.deps/
tests/tags

tests/test-hello
tests/test-panel-gtk
tests/test-*.log
tests/test-*.trs
tests/*.out
tests/.libs

Makecache
builddir/
