builddir/

po/*gmo
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/gydict.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
.buildconfig
.flatpak-builder/

